#container {
    border: 1px solid #ddd;
    height: 300px;
    width: 300px;
    float: left;
}
.y {
    height: 30px;
    width: 30px;
    float: left;
    text-align: center;
    font-size: 9px;
    line-height: 30px;
}
.x0 {
    background-color: white;
    color: #aaa;
}
.x1 {
    background-color: #ccc;
    color: #888;
}
.generate {
    border: 1px solid black;
    margin: 0 0 10px 10px;
    float: left;
}
.reset{
    border: 1px solid black;
    margin: 0 0 10px 10px;
    float: left;
}
.red {
    background-color: red;
    color: #444;
}
.green {
    background-color: #7BEF7B;
    color: #444;
}
.buttons {
    height: 38px;
    width: 60px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
#score {
    border: 1px solid #ddd;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    float: left;
    margin: 0 0 10px 10px;
}
#scoreboard {
    width: 109px;
    float: left;
    margin-left: 10px;
}
.playernumber {
    border: 1px solid #ddd;
    float: left;
    height: 40px;
    width: 65px;
    line-height: 40px;
    text-align: center;
}
.playerscore {
    border: 1px solid #ddd;
    float: left;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}