#container {
    border: 1px solid #ddd;
    height: 300px;
    width: 300px;
}
.y {
    height: 30px;
    width: 30px;
    float: left;
    text-align: center;
    font-size: 9px;
    line-height: 30px;
}
.x0 {
    background-color: white;
    color: #aaa;
}
.x1 {
    background-color: #ccc;
    color: #888;
}
.generate {
    border: 1px solid black;
    margin-bottom: 10px;
}
.red {
    background-color: red;
    color: #444;
}